<!DOCTYPE html>

<%- include('../partials/head'); %>



<body>
    <%- include('../partials/header'); %>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
        *
        {
            font-family: 'Open Sans', sans-serif;
            color: black;
            
        }
     #about {
         display: flex;
         opacity: 5;
         color: black;
         font-weight: 100;
         font-size: 20px;
         margin: 2rem;
         justify-content: center;
         justify-content: space-evenly;
         
         
     }
     #aboutimage {
         height: 230px;
         width: 40%;

     }
   #footertitle{
       display: flex;
       align-items: center;
       justify-content: flex-start;
       font-size: 40px;
       padding: 30px;
       padding-right: 100px;
   }
   #about2 {
         display: flex;
         opacity: 5;
         color: black;
         font-weight: 100;
         font-size: 20px;
         margin: 2rem;
         justify-content: center;
         justify-content: space-evenly;
         padding-top: 60px;
         padding-bottom: 100px;
         
     }

    
    </style>
    
    <div id="footertitle">
        Sobre nós
    </div>

    <div id="about">Lorem, ipsum dolor sit amet consectetur 
        adipisicing elit. Porro, veritatis incidunt 
        accusamus voluptatibus vero mollitia nam, fugit
         maiores totam eveniet eius. Quos temporibus provident 
         ea assumenda! Impedit a molestiae velit!
         
         <img id="aboutimage" src="/image/colecao.png" alt="">
        </div>

         <div id="about2">

            Lorem, ipsum dolor sit amet 
            consectetur adipisicing elit. Perspiciatis dol
            ores animi delectus numquam maxime totam explicabo 
            aut possimus, ipsum aperiam soluta impedit minus repudiandae, 
            aspernatur iure doloremque sed sint nisi.
            <img id="aboutimage" src="/image/colecao.png" alt="">
         </div>






         <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <%- include('../partials/footer'); %>
</body>


