<!DOCTYPE html>

 <%- include('../partials/head'); %>

 <body>
     
    <%- include('../partials/header'); %>


<main>
    <style>
        #titulo {
                    display: flex;
               align-items: center;
               justify-content: center;
               font-size: 40px;
               padding: 30px;
               background-color: white;
                }
        
                img {
                width: 30%;
            height: 500px;
            justify-content: center;
            justify-content: flex-end;
            padding-left: 2%;
            border-radius: 20px;
                }
        </style>
        
        
        
            <div>
                <h1 id="titulo">
                    Acessórios
                </h1>
            </div>
        
        <div id="colecaocalcao">
                <img src="/image/relogio1.jpg" alt="">
                <img src="/image/relogio2.jpg" alt="">
                <img src="/image/oculos1.jpg" alt="">
                
        </div>
        
        
        
        
</main>











    <footer>
        <%- include('../partials/footer'); %>
    </footer>
 </body>