<!DOCTYPE html>
<%- include('../partials/head'); %>

<body>
    <header>
        <%- include('../partials/header'); %>

    </header>
    
    <main>
     
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
        *
        {
            font-family: 'Open Sans', sans-serif;
            color: black;
            
        }



        #contatotitulo {
                background-color: white;
            }

           #novidadescontato {
               display: flex;
               justify-content: space-evenly;
               margin: 1rem;
               flex-direction: column;
               
            
               
           }
           #listanovidades {
               display: flex;
               justify-content: space-evenly;
               flex-direction: column;
               margin: 1rem;
           
           }
           #problemas{
            display: flex;
               justify-content: space-evenly;
               margin: 1rem;
               flex-direction: column;

           }
           #listaproblemas{
            display: flex;
               justify-content: space-evenly;
               margin: 1rem;
               flex-direction: column;

           }
           #parcerias {
            display: flex;
               justify-content: space-evenly;
               margin: 1rem;
               flex-direction: column;
           }
           #listaparcerias {
            display: flex;
               justify-content: space-evenly;
               margin: 1rem;
               flex-direction: column;
           }
      

        </style>

        <h1 id="contatotitulo">Fale conosco</h1>

        <div id="novidadescontato">
            Quer saber nossas novidades e nos acomapnhar nas redes sociais?
        </div >
        <ul id="listanovidades" >
            <li>@instagram</li>
            <li>@twitter</li>
            <li>@tiktok</li>
        </ul>

        <div id="problemas">
            Está passando por problemas na compra ou pós compra?
        </div>
        <ul id="listaproblemas">
            <li>HelpDesk</li>
            <li>Email</li>
        </ul>

        <div id="parcerias">
            Parcerias e programas de patrocinados:
        </div>
        <ul id="listaparcerias" >
            <li>Email</li>
            <li>Contato com Agência</li>
        </ul>

          
            
        










    </main>
    




<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



    <%- include('../partials/footer'); %>
</body>


