<!DOCTYPE html>

 <%- include('../partials/head'); %>


<body>
    
<%- include('../partials/header'); %>


<main>

    



  




    </script>







    <style>
      
       #colecao {
           display: flex;
           justify-content: center;
           align-items: center;
           padding: 30px;
           font-size: 40px;
           
       }
       img {
        width: 30%;
    height: 500px;
    justify-content: center;
    justify-content: flex-end;
    padding-left: 2%;
    border-radius: 20px;
    gap: 2rem;
    padding-bottom: 3%;
    
       }

       img:hover {
           background: transparent;
       }
       
      
    

 
 


    </style>

    <div id="colecao" >
        <strong><em  >Coleção Outubro </em></strong>
    </div>

    <div id="produtos"  >
         <img id="image1"  src="/image/relogio1.jpg" alt="" >  
        <img id="image2"  src="/image/camisa2.jpg" alt="">
        <img  id="image3" src="/image/camisa3.jpg" alt="">
        <img id="image4"  src="/image/camisa4.jpg" alt="">
        <img  id="image5" src="/image/relogio2.jpg" alt="">
        <img  id="image6" src="/image/camisa6.jpg" alt="">
        <img id="image7"  src="/image/oculos1.jpg" alt="">
        <img id="image8"  src="/image/camisa8.jpg" alt="">
        <img id="image9"  src="/image/camisa7.jpg"  alt=""   >
        
        

       
    </div>











</main>


<%- include('../partials/footer'); %>

















    

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>